<div ng-controller='groupController'>
  <div id="main">
    <div class="main">
      <div class="row">
        <div id="sidebar" class="col s12 m4 l3">
          <!-- dynamically pull in club photo url here  -->
          <img src="{{group.image_url}}" class="responsive-img" alt="club logo" />

          <!-- dynamically render club name here -->
          <h2>{{group.name}}</h2>

          <!-- pull in city name here -->
          <p>{{group.city}}, {{group.state}}</p>

          <!-- pull in join date here -->
          <p>On Drone Squad Since {{group.created_at}}</p>

          <!-- pull in members count here -->
          <p>Members: 412</p>

          <!-- pull in Upcoming Meetups count here -->
          <p>Upcoming Meetups: 2</p>

          <!-- pull in past meetups count here -->
          <p>Past Meetups: 6</p>

          <!-- pull in organizers here -->
          <p>Organizers:</p>
          <p>Ethan and Sean</p>

        </div>
        <div id="content" class="col s12 m4 l6">
          <h2>About Us</h2>
          <p>{{group.description}}</p>

            <button>Upcoming</button>
            <button>Post</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>Post</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>Post</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>Post</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>Post</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <button>Post</button>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>
          <div class="center-align" id="instagram" class="col s12 m4 l3">
            <h3>Instagram!</h3>
            <a href="https://api.instagram.com/oauth/authorize/?client_id=eec5c8b62a1949619253a61daee56576&redirect_uri=REDIRECT-URI&response_type=token
">link your instagram here</a>
            <div ng-repeat="image in insta.data | limitTo: 3" class="col s2">
              <a href="{{image.link}}"><img class="insta_pic" src="{{image.images.standard_resolution.url}}" alt="" style="width: 100%"/></a>

            </div>
          </div>
        </div>
        <div class="row">
            <div id="map" class="col s10 center-align">
              <div id="mappp" class="col s10 center-align">
              <ng-map center="{{group.city}}, {{group.state}}" zoom="13">
                <marker position="{{group.city}}, {{group.state}}" title="{{group.name}}"
                icon="../images/mapicon.png",
                scale: 1.,
                center="[{{group.city}}, {{group.state}}]"
                dragglele="true"> </marker>
              </ng-map>
            </div>
          </div>

        </div>
      </div>
  </div>
</div>
