<div ng-controller='groupController'>
  <div id="main">
    <div class="main">
      <div class="row">
        <div id="sidebar" class="col s12 m4 l3">
          <!-- dynamically pull in club photo url here  -->
          <img src="{{group.image_url}}" class="responsive-img" alt="club logo" />

          <!-- dynamically render club name here -->
          <h2>{{group.name}}</h2>

          <!-- pull in city name here -->
          <p>Location: {{group.city}}, {{group.state}}</p>

          <!-- pull in join date here -->
          <p>On Drone Squad Since {{group.createdAt | date: MM/dd/yyy}}</p>

          <!-- pull in members count here -->
          <p>Members: 412</p>

          <!-- pull in Upcoming Meetups count here -->
          <p>Upcoming Meetups: {{meetupcount}}</p>

          <!-- pull in past meetups count here -->
          <p>Past Meetups: 6</p>

          <!-- pull in organizers here -->
          <p>Organizers:</p>
          <p>Ethan and Sean</p>
          <div ng-repeat="member in group._members">
            <a ng-if="user.id != member" href="#/joingroup/{{group._id}}"><button>Join Group</button></a>
          </div>

        </div>
        <div id="content" class="col s12 m4 l6">
          <h2>About Us</h2>
          <p>{{group.description}}</p>
          <hr>
          <button>Upcoming</button>
          <div ng-repeat="meetup in meetups">
            <h5>{{meetup.name}}</h5>
            <p>Date: {{meetup.date | date: MM/dd/yyy}}</p>
            <p>Description: {{meetup.description}}</p>
            <p>Where: {{meetup.location}}</p>
          </div>
          <a ng-if="authorization == true" href="#/addmeetup/{{group._id}}"><button>Add New Event</button></a>
        </div>
          <div class="center-align" id="instagram" class="col s12 m4 l3">
            <h3>Instagram!</h3>
              <a ng-if="authorization == true" href="https://api.instagram.com/oauth/authorize/?client_id=ed0b913c94f94440baf6218a95fa4ebf&redirect_uri=http://www.partyhard24-7.com/instagram/&response_type=token
">link your instagram here</a>
            <div ng-repeat="image in insta.data | limitTo: 3" class="col s2">
              <a href="{{image.link}}"><img class="insta_pic" src="{{image.images.standard_resolution.url}}" alt="" style="width: 100%"/></a>

            </div>
          </div>
        </div>
        <div class="row">
            <div id="map" class="col s10 center-align">
              <div id="mappp" class="col s10 center-align">
              <ng-map center="{{group.city}}, {{group.state}}" zoom="13">
                <marker position="{{group.city}}, {{group.state}}" title="{{group.name}}"
                icon="../images/mapicon.png",
                scale: 1.,
                center="[{{group.city}}, {{group.state}}]"
                dragglele="true"> </marker>
              </ng-map>
            </div>
          </div>

        </div>
      </div>
  </div>
</div>
