<div ng-controller='homeController'>
  <div class="main">

    <!-- login/logout buttons -->
    <!-- <div class="row">
      <div class="col s2 offset-s10">
      <a ng-if="user == false" href='#/login' class="waves-effect waves-light btn bgorange">Log In</a>
      <a ng-if="user" href='/logout' class="waves-effect waves-light btn bgorange">Log Out</a>
      </div>
    </div> -->
    <!-- end login/logout buttons -->
    <div class="row">
      <div class="col s12 l10 ">
          <h2 class="center-align">Flying Locations</h2>
          <div class="col s12 right-align">
            <a ng-if="user == false" href='#/register' class="waves-effect waves-light btn bgorange">Log In</a>
            <a ng-if="user" href='/logout' class="waves-effect waves-light btn bgorange">Log Out</a>
          </div>
        <ng-map zoom-to-include-markers="true" scrollwheel="false">
          <marker ng-repeat="location in locations" position="{{location.coordinates}}",
          title="{{group.name}}",
          icon="../images/mapicon.png",
          scale: 1.,
          dragglele="true"> </marker>
        </ng-map>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l8">
        <h3 class="center-align">Choose Your Group</h3>
      </div>
      <div class="col s12 l4">
        <h3>Upcoming Events</h3>
      </div>
    </div>
    <div class="row">
      <div id="grouptable" class="col s12 l8 center-align">
        <table id="grouptable" class="highlight z-depth-1 center-align">
          <thead>
            <tr>
              <th data-field="id">Name</th>
              <th data-field="name">Location</th>
              <th data-field="price">Members</th>
              <th>Show</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat= "group in groups">
              <td>{{group.name}}</td>
              <td>{{group.city}}, {{group.state}}</td>
              <td>{{membercount}}</td>
              <td><a href="#/group/{{group._id}}">Visit {{group.name}} Page</a></td>
            </tr>
          </tbody>
        </table>
      </div>
        <div id="events" class="col s12 l4">
            <ul ng-repeat="meetup in meetups">
              <li>Group:<a href="#/group/{{meetup._group._id}}"> {{meetup._group.name}}</a></li>
              <li>Description: {{meetup.name}}</li>
              <li>Date: {{meetup.date | date: MM/dd/yyy}}</li>
              <hr>
            </ul>
        </div>
      </div>
      <div class='row'>
        <div class='col s2 offset-s1'></div>
        <a href="#/addgroup" class="waves-effect waves-light btn bgorange">Add A Group</a>
      </div>
    </div>
  </div>
</div>
