<div ng-controller='registerController'>
	<div class="row .center-align">
		<div class="col s12 m12 l6 offset-l3 ">
			<div class="center-align">
				<img src="../images/ds-logo-sm-orange.png" height="60px">
			</div>
			<div ng-repeat="error in errors">
				<p class="red-text center">{{error}}</p>
			</div>
			<form>
				<div class="row">
				<label>Name: <input type="text" ng-model="user.name" value=""></label>
				<label>Email: <input type="email" ng-model="user.email" value=""></label>
				<label>Password: <input type="password" ng-model="user.password" value=""></label>
				<label>Confirm Password: <input type="password" ng-model="user.passconf" value=""></label>
				<div class="center-align">

					<btn class="waves-effect waves-light btn-large bgorange" ng-click='registerUser(user)'>REGISTER</btn>

					<p class="center-align"><a href="#/login">Already have an account? Log in.</a></p>
				</div>
			</form>
				<p ng-if="register.name.length<2">Name must be at least 2 letters</p>
				<p ng-if="register.password.length<8">Password must be at least 8 characters long</p>
				<p ng-if="register.passconf != register.password">Passwords must match</p>
		</div>
	</div>
<!-- </div> -->
