.container {
width: 80%
}

#instagramSlider{
  height: 600px;
  overflow: scroll;

}
#smallbuttontext {
  font-size:9px;
  margin-bottom: 10px;
}

.padded {
margin: 12px;

}
.login{
  background-color: rgb(22,53,64);
}

a {
  color: #266880;
}

#choose_group{
  display: inline-block;
}

#sidebar{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  height: 700px;
}

.picker__date-display {
    background-color: #266880;
}

#footer{
background-color: #266880;
padding-bottom: 10px;
}
#footertext{
color: white;
font-size: 20px;
}


.input-field .prefix.active {
  color: #266880
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
      background-color: #266880;
}

.picker__close, .picker__today {
    color: #266880;
}
.picker__weekday-display {
    background-color: #266880;
}
#flyinglocations {
  display: inline-block;
}
.bgorange{
  background-color: #fa6c23;
}
.bgorange:hover{
  background-color: #f5925f;
}

.grouptable {
  height: 400px;
  overflow: scroll;
}

#map  {
  height: 500px;
}

thead{
  color: #ff5800;
}

.btn{
  background-color: #FA6C23;
};

.btn :hover{
  background-color: #FA6C23;
};



/*.insta_pic{
  margin-left: 15px;
  DOES NOT WORK
}*/
