.container {
width: 85%
}


#sidebar{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  height: 700px;
}


#content {
  height: 700px;
  overflow: scroll;
}

#instagram {
  height: 700px;
}

#map  {
  height: 500px;
}

thead{
  color: #ff5800;
}

.btn{
  background-color: #FA6C23;
};

.btn :hover{
  background-color: #FA6C23;
};
